
* {
  text-align: center;
}

input,
button {
  margin: 5px;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
}

input {
  background-color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: 1px solid #ccc;
}

button {
  background-color: orange;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
